<Settings>

	<!-- Log Configuration -->
	<Logging>
		<ExcludeModules> <!-- Case insensitive -->
			<Module>SIO</Module>
			<Module>VOX</Module>
		</ExcludeModules>
		<Filter>Debug</Filter>
	</Logging>
	
	<!-- Plugin Administration -->
	<Plugins>
		<Permissions>pin</Permissions>
		<SearchDirectories> <!-- Must be a local or UNC filesystem path -->
			<Dir>./Plugins</Dir>
		</SearchDirectories>
		<Authorized>        <!-- Should be a vendor.name identifier -->
			<Plugin>Vox.File IO</Plugin>
		</Authorized>
	</Plugins>
	
</Settings>